openapi: 3.1.0
info:
  title: RegistryAccord Identity Service API
  version: 1.0.0
  description: |
    Portable, user-centric identity layer with authentication, authorization,
    consent management, and audit capabilities for the RegistryAccord protocol.

    ## Key Features
    - WebAuthn/Passkey primary authentication (phishing-resistant)
    - OAuth2/OIDC for application authorization
    - Granular consent management with 24-hour withdrawal SLA
    - RBAC/ABAC with fine-grained scopes
    - Organization and team management
    - Comprehensive audit logging

    ## Authentication Strategy
    - **User Authentication**: WebAuthn (FIDO2) / Passkey
    - **App Authorization**: OAuth2 authorization_code & client_credentials flows
    - **Enterprise SSO**: SAML/OIDC federation support
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: RegistryAccord Maintainers
    url: https://github.com/RegistryAccord/registryaccord-specs
    email: specs@registryaccord.com
servers:
  - url: https://api.registryaccord.dev/identity
    description: Development environment
  - url: https://api.registryaccord.com/identity
    description: Production environment
tags:
  - name: Identities
    description: Identity management operations
  - name: Sessions
    description: Session management operations
  - name: Tokens
    description: Token management operations
  - name: Organizations
    description: Organization management operations
  - name: Consents
    description: Consent management operations
  - name: Keys
    description: Key management operations
  - name: Audit
    description: Audit event operations
security:
  - oauth2: []
  - bearerAuth: []

paths:
  # Identity Management
  /v1/identities:
    post:
      summary: Create identity
      description: Create a new identity record
      operationId: createIdentity
      tags:
        - Identities
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/IdentityCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - identity:write

  /v1/identities/{id}:
    get:
      summary: Get identity
      description: Retrieve an identity by ID
      operationId: getIdentity
      tags:
        - Identities
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
        - name: id
          in: path
          required: true
          description: Identity identifier
          schema:
            type: string
            format: uuid
      responses:
        '200':
          $ref: '#/components/responses/IdentityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - identity:read

    patch:
      summary: Update identity
      description: Update an existing identity record
      operationId: updateIdentity
      tags:
        - Identities
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
        - name: id
          in: path
          required: true
          description: Identity identifier
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/IdentityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - identity:write

    delete:
      summary: Delete identity
      description: Delete an identity (RTBF, 30-day cascade)
      operationId: deleteIdentity
      tags:
        - Identities
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
        - name: id
          in: path
          required: true
          description: Identity identifier
          schema:
            type: string
            format: uuid
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - identity:delete

  # Session Management
  /v1/sessions:
    post:
      summary: Create session
      description: Create a new session (WebAuthn flow)
      operationId: createSession
      tags:
        - Sessions
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/SessionCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - bearerAuth: []

  /v1/sessions/{id}:
    get:
      summary: Get session details
      description: Retrieve session details by ID
      operationId: getSession
      tags:
        - Sessions
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
        - name: id
          in: path
          required: true
          description: Session identifier
          schema:
            type: string
            format: uuid
      responses:
        '200':
          $ref: '#/components/responses/SessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - identity:read

    delete:
      summary: End session
      description: End an active session
      operationId: endSession
      tags:
        - Sessions
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
        - name: id
          in: path
          required: true
          description: Session identifier
          schema:
            type: string
            format: uuid
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - identity:write

  # Token Management
  /v1/tokens:
    post:
      summary: Mint access token
      description: Mint a new access token
      operationId: mintToken
      tags:
        - Tokens
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenMintRequest'
      responses:
        '201':
          $ref: '#/components/responses/TokenMinted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - identity:write

  /v1/tokens/verify:
    post:
      summary: Verify token
      description: Verify a token's validity
      operationId: verifyToken
      tags:
        - Tokens
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenVerifyRequest'
      responses:
        '200':
          $ref: '#/components/responses/TokenVerified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - bearerAuth: []

  /v1/tokens/refresh:
    post:
      summary: Refresh token
      description: Refresh an existing token
      operationId: refreshToken
      tags:
        - Tokens
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefreshRequest'
      responses:
        '200':
          $ref: '#/components/responses/TokenRefreshed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - bearerAuth: []

  /v1/tokens/{id}:
    delete:
      summary: Revoke token
      description: Revoke a token
      operationId: revokeToken
      tags:
        - Tokens
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
        - name: id
          in: path
          required: true
          description: Token identifier
          schema:
            type: string
            format: uuid
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - identity:write

  # Organization Management
  /v1/orgs:
    get:
      summary: List organizations
      description: List organizations (paginated)
      operationId: listOrganizations
      tags:
        - Organizations
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
      responses:
        '200':
          $ref: '#/components/responses/OrganizationList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - org:read

    post:
      summary: Create organization
      description: Create a new organization
      operationId: createOrganization
      tags:
        - Organizations
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/OrganizationCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - org:write

  /v1/orgs/{id}:
    get:
      summary: Get organization
      description: Retrieve an organization by ID
      operationId: getOrganization
      tags:
        - Organizations
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
        - name: id
          in: path
          required: true
          description: Organization identifier
          schema:
            type: string
            format: uuid
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - org:read

    patch:
      summary: Update organization
      description: Update an existing organization
      operationId: updateOrganization
      tags:
        - Organizations
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
        - name: id
          in: path
          required: true
          description: Organization identifier
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - org:write

  # Consent Management
  /v1/consents:
    post:
      summary: Grant consent
      description: Grant consent
      operationId: grantConsent
      tags:
        - Consents
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentGrantRequest'
      responses:
        '201':
          $ref: '#/components/responses/ConsentGranted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - consent:write

    get:
      summary: List consents
      description: List consents (paginated)
      operationId: listConsents
      tags:
        - Consents
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
      responses:
        '200':
          $ref: '#/components/responses/ConsentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - consent:read

  /v1/consents/{id}:
    delete:
      summary: Revoke consent
      description: Revoke consent (24hr SLA)
      operationId: revokeConsent
      tags:
        - Consents
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
        - name: id
          in: path
          required: true
          description: Consent identifier
          schema:
            type: string
            format: uuid
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - consent:delete

  # Key Management
  /v1/keys:
    post:
      summary: Create keypair
      description: Create a new keypair
      operationId: createKey
      tags:
        - Keys
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/KeyCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - identity:write

    get:
      summary: List keys
      description: List keys (paginated)
      operationId: listKeys
      tags:
        - Keys
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
      responses:
        '200':
          $ref: '#/components/responses/KeyList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - identity:read

  /v1/keys/{id}:
    delete:
      summary: Revoke key
      description: Revoke a key
      operationId: revokeKey
      tags:
        - Keys
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
        - name: id
          in: path
          required: true
          description: Key identifier
          schema:
            type: string
            format: uuid
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - identity:write

  # Audit
  /v1/audit:
    get:
      summary: Query audit events
      description: Query audit events (paginated)
      operationId: queryAuditEvents
      tags:
        - Audit
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
        - name: start_time
          in: query
          description: Start time for audit events
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: End time for audit events
          schema:
            type: string
            format: date-time
        - name: identity_id
          in: query
          description: Filter by identity ID
          schema:
            type: string
            format: uuid
        - name: event_type
          in: query
          description: Filter by event type
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/AuditEventList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth2:
            - audit:read

components:
  parameters:
    ApiVersion:
      name: RA-API-Version
      in: header
      required: true
      description: API version (date-based, e.g., 2025-11-01)
      schema:
        type: string
        pattern: '^\d{4}-\d{2}-\d{2}$'
        example: "2025-11-01"
    
    CorrelationId:
      name: X-Correlation-ID
      in: header
      required: true
      description: Unique request correlation ID for tracing
      schema:
        type: string
        format: uuid
    
    Limit:
      name: limit
      in: query
      description: Maximum items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50
    
    After:
      name: after
      in: query
      description: Cursor for forward pagination
      schema:
        type: string
    
    Before:
      name: before
      in: query
      description: Cursor for backward pagination
      schema:
        type: string
  
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 flows for application authorization
      flows:
        authorizationCode:
          authorizationUrl: https://auth.registryaccord.com/authorize
          tokenUrl: https://auth.registryaccord.com/token
          scopes:
            identity:read: Read identity information
            identity:write: Create and update identities
            identity:delete: Delete identities (RTBF)
            consent:read: Read consent records
            consent:write: Grant consents
            consent:delete: Revoke consents
            org:read: Read organization details
            org:write: Manage organizations
            audit:read: Query audit events
        clientCredentials:
          tokenUrl: https://auth.registryaccord.com/token
          scopes:
            service:identity: Service-to-service identity operations
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access tokens
  
  schemas:
    # Identity Schemas
    Identity:
      type: object
      required: [id, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
          description: Unique identity identifier
        display_name:
          type: string
          maxLength: 255
        email:
          type: string
          format: email
        phone:
          type: string
          pattern: '^\+[1-9]\d{1,14}$'
        avatar_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
          example: "2025-11-06T10:05:00Z"
        updated_at:
          type: string
          format: date-time
        is_active:
          type: boolean
          default: true
        is_verified:
          type: boolean
          default: false
    
    IdentityCreateRequest:
      type: object
      required: [display_name]
      properties:
        display_name:
          type: string
          maxLength: 255
        email:
          type: string
          format: email
        phone:
          type: string
          pattern: '^\+[1-9]\d{1,14}$'
        avatar_url:
          type: string
          format: uri
    
    IdentityUpdateRequest:
      type: object
      properties:
        display_name:
          type: string
          maxLength: 255
        email:
          type: string
          format: email
        phone:
          type: string
          pattern: '^\+[1-9]\d{1,14}$'
        avatar_url:
          type: string
          format: uri
        is_active:
          type: boolean
    
    # Session Schemas
    Session:
      type: object
      required: [id, identity_id, created_at, expires_at]
      properties:
        id:
          type: string
          format: uuid
          description: Unique session identifier
        identity_id:
          type: string
          format: uuid
          description: Associated identity identifier
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        last_accessed_at:
          type: string
          format: date-time
        user_agent:
          type: string
        ip_address:
          type: string
          format: ipv4
    
    SessionCreateRequest:
      type: object
      required: [identity_id]
      properties:
        identity_id:
          type: string
          format: uuid
        user_agent:
          type: string
        ip_address:
          type: string
          format: ipv4
    
    # Token Schemas
    Token:
      type: object
      required: [id, identity_id, token_type, expires_at]
      properties:
        id:
          type: string
          format: uuid
        identity_id:
          type: string
          format: uuid
        token_type:
          type: string
          enum: [access, refresh]
        scopes:
          type: array
          items:
            type: string
        issued_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        revoked_at:
          type: [string, 'null']
          format: date-time
    
    TokenMintRequest:
      type: object
      required: [identity_id, scopes]
      properties:
        identity_id:
          type: string
          format: uuid
        scopes:
          type: array
          items:
            type: string
        expires_in:
          type: integer
          description: Token expiration time in seconds
    
    TokenVerifyRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
    
    TokenRefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string
    
    # Organization Schemas
    Organization:
      type: object
      required: [id, name, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 255
        description:
          type: string
        website:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_active:
          type: boolean
          default: true
    
    OrganizationCreateRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          maxLength: 255
        description:
          type: string
        website:
          type: string
          format: uri
    
    OrganizationUpdateRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
        description:
          type: string
        website:
          type: string
          format: uri
        is_active:
          type: boolean
    
    # Consent Schemas
    Consent:
      type: object
      required: [id, identity_id, consent_type, granted_at]
      properties:
        id:
          type: string
          format: uuid
        identity_id:
          type: string
          format: uuid
        consent_type:
          $ref: '#/components/schemas/ConsentType'
        purpose:
          type: string
        granted_at:
          type: string
          format: date-time
        expires_at:
          type: [string, 'null']
          format: date-time
        revoked_at:
          type: [string, 'null']
          format: date-time
    
    ConsentType:
      type: string
      enum:
        - FUNCTIONAL
        - ANALYTICS
        - ADVERTISING
        - CROSS_APP_SHARING
      description: |
        Granular consent taxonomy:
        - FUNCTIONAL: Essential service functionality
        - ANALYTICS: Usage analytics and metrics
        - ADVERTISING: Ad targeting and personalization
        - CROSS_APP_SHARING: Data sharing across RA apps
    
    ConsentGrantRequest:
      type: object
      required: [identity_id, consent_type]
      properties:
        identity_id:
          type: string
          format: uuid
        consent_type:
          $ref: '#/components/schemas/ConsentType'
        purpose:
          type: string
        expires_in:
          type: integer
          description: Consent expiration time in seconds
    
    # Key Schemas
    Key:
      type: object
      required: [id, identity_id, public_key, created_at]
      properties:
        id:
          type: string
          format: uuid
        identity_id:
          type: string
          format: uuid
        public_key:
          type: string
        key_type:
          type: string
          enum: [ed25519, rsa]
        created_at:
          type: string
          format: date-time
        expires_at:
          type: [string, 'null']
          format: date-time
        revoked_at:
          type: [string, 'null']
          format: date-time
    
    KeyCreateRequest:
      type: object
      required: [identity_id, public_key]
      properties:
        identity_id:
          type: string
          format: uuid
        public_key:
          type: string
        key_type:
          type: string
          enum: [ed25519, rsa]
        expires_in:
          type: integer
          description: Key expiration time in seconds
    
    # Audit Schemas
    AuditEvent:
      type: object
      required: [id, identity_id, event_type, timestamp]
      properties:
        id:
          type: string
          format: uuid
        identity_id:
          type: string
          format: uuid
        event_type:
          type: string
        resource_type:
          type: string
        resource_id:
          type: string
          format: uuid
        action:
          type: string
        timestamp:
          type: string
          format: date-time
        ip_address:
          type: string
          format: ipv4
        user_agent:
          type: string
        metadata:
          type: object
          additionalProperties: true
    
    # Pagination Schemas
    Pagination:
      type: object
      required: [has_next_page]
      properties:
        next_cursor:
          type: [string, 'null']
        has_next_page:
          type: boolean
    
    # Problem Details Schema (RFC 7807)
    ProblemDetails:
      type: object
      required: [type, title, status, detail, instance, trace_id]
      properties:
        type:
          type: string
          format: uri
          description: URI reference identifying the problem type
        title:
          type: string
          description: Short human-readable summary
        status:
          type: integer
          description: HTTP status code
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence
        instance:
          type: string
          format: uri
          description: URI reference identifying the specific occurrence
        trace_id:
          type: string
          format: uuid
          description: Correlation ID for request tracing
  
  responses:
    # Identity Responses
    IdentityCreated:
      description: Identity created successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: '#/components/schemas/Identity'
    
    IdentityResponse:
      description: Identity retrieved successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: '#/components/schemas/Identity'
    
    # Session Responses
    SessionCreated:
      description: Session created successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: '#/components/schemas/Session'
    
    SessionResponse:
      description: Session retrieved successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: '#/components/schemas/Session'
    
    # Token Responses
    TokenMinted:
      description: Token minted successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: '#/components/schemas/Token'
    
    TokenVerified:
      description: Token verified successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                type: object
                properties:
                  valid:
                    type: boolean
                  identity_id:
                    type: string
                    format: uuid
    
    TokenRefreshed:
      description: Token refreshed successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: '#/components/schemas/Token'
    
    # Organization Responses
    OrganizationList:
      description: Organizations retrieved successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data, pagination]
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
              pagination:
                $ref: '#/components/schemas/Pagination'
    
    OrganizationCreated:
      description: Organization created successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: '#/components/schemas/Organization'
    
    OrganizationResponse:
      description: Organization retrieved successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: '#/components/schemas/Organization'
    
    # Consent Responses
    ConsentGranted:
      description: Consent granted successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: '#/components/schemas/Consent'
    
    ConsentList:
      description: Consents retrieved successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data, pagination]
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Consent'
              pagination:
                $ref: '#/components/schemas/Pagination'
    
    # Key Responses
    KeyCreated:
      description: Key created successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: '#/components/schemas/Key'
    
    KeyList:
      description: Keys retrieved successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data, pagination]
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Key'
              pagination:
                $ref: '#/components/schemas/Pagination'
    
    # Audit Responses
    AuditEventList:
      description: Audit events retrieved successfully
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: object
            required: [data, pagination]
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/AuditEvent'
              pagination:
                $ref: '#/components/schemas/Pagination'
    
    # Standard Error Responses (RFC 7807)
    BadRequest:
      description: Bad Request - Invalid input
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: "https://api.registryaccord.com/errors/validation_failed"
            title: "Validation Failed"
            status: 400
            detail: "The 'email' field must be a valid email address"
            instance: "https://api.registryaccord.com/identity/v1/identities"
            trace_id: "550e8400-e29b-41d4-a716-446655440000"
    
    Unauthorized:
      description: Unauthorized - Authentication failed
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: "https://api.registryaccord.com/errors/auth_failed"
            title: "Authentication Failed"
            status: 401
            detail: "The provided JWT token has expired"
            instance: "https://api.registryaccord.com/identity/v1/identities/123"
            trace_id: "550e8400-e29b-41d4-a716-446655440000"
    
    Forbidden:
      description: Forbidden - Insufficient permissions
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: "https://api.registryaccord.com/errors/scope_denied"
            title: "Scope Denied"
            status: 403
            detail: "The requested operation requires 'identity:write' scope"
            instance: "https://api.registryaccord.com/identity/v1/identities"
            trace_id: "550e8400-e29b-41d4-a716-446655440000"
    
    NotFound:
      description: Not Found - Resource does not exist
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: "https://api.registryaccord.com/errors/resource_not_found"
            title: "Resource Not Found"
            status: 404
            detail: "The requested identity was not found"
            instance: "https://api.registryaccord.com/identity/v1/identities/123"
            trace_id: "550e8400-e29b-41d4-a716-446655440000"
    
    UnprocessableEntity:
      description: Unprocessable Entity - Request well-formed but semantically invalid
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: "https://api.registryaccord.com/errors/validation_failed"
            title: "Validation Failed"
            status: 422
            detail: "The provided identity data violates business rules"
            instance: "https://api.registryaccord.com/identity/v1/identities"
            trace_id: "550e8400-e29b-41d4-a716-446655440000"
    
    TooManyRequests:
      description: Too Many Requests - Rate limit exceeded
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: "https://api.registryaccord.com/errors/rate_limited"
            title: "Rate Limited"
            status: 429
            detail: "Too many requests. Please try again later."
            instance: "https://api.registryaccord.com/identity/v1/identities"
            trace_id: "550e8400-e29b-41d4-a716-446655440000"
    
    InternalServerError:
      description: Internal Server Error - Unexpected condition
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: "https://api.registryaccord.com/errors/internal_error"
            title: "Internal Server Error"
            status: 500
            detail: "An unexpected error occurred. Please try again later."
            instance: "https://api.registryaccord.com/identity/v1/identities"
            trace_id: "550e8400-e29b-41d4-a716-446655440000"
    
    ServiceUnavailable:
      description: Service Unavailable - Temporary overload
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: "https://api.registryaccord.com/errors/internal_error"
            title: "Service Unavailable"
            status: 503
            detail: "Service temporarily unavailable. Please try again later."
            instance: "https://api.registryaccord.com/identity/v1/identities"
            trace_id: "550e8400-e29b-41d4-a716-446655440000"
    
    NoContent:
      description: No Content - Successful operation with no response body
      headers:
        RA-API-Version:
          schema:
            type: string
          description: API version echoed from request
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            type: [object, 'null']
